@model AgenciappHome.Models.ValorAduanal

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section id="basic-form-layouts">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title" id="bordered-layout-colored-controls">Adicionar Valor Aduanal</h4>
                    <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                            <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                            <li><a data-action="close"><i class="ft-x"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-body collapse in">
                    <div class="card-block">

                        <div class="row">
                            <div class="col-md-4">
                                <form asp-action="Create">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-group">
                                        <label asp-for="Name" class="control-label"></label>
                                        <input asp-for="Name" class="form-control" />
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Description" class="control-label"></label>
                                        <input asp-for="Description" class="form-control" />
                                        <span asp-validation-for="Description" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Um" class="control-label"></label>
                                        <input asp-for="Um" class="form-control" />
                                        <span asp-validation-for="Um" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Value" class="control-label"></label>
                                        <input asp-for="Value" class="form-control" />
                                        <span asp-validation-for="Value" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Article" class="control-label"></label>
                                        <input asp-for="Article" class="form-control" />
                                        <span asp-validation-for="Article" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Observaciones" class="control-label"></label>
                                        <input asp-for="Observaciones" class="form-control" />
                                        <span asp-validation-for="Observaciones" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="Create" class="btn btn-default" />
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div>
                            <a asp-action="Index">Back to List</a>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
