@model AgenciappHome.Models.Order

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="content-header row">
    <div class="content-header-left col-md-6 col-xs-12 mb-2">
        <h3 class="content-header-title mb-0">Nuevo Envío</h3>
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-xs-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">
                        <a href="index.html">Envíos</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="content-header-right col-md-6 col-xs-12">
        <a class="btn btn-primary btn-min-width mr-1 mb-1 float-md-right" asp-action="Create"> <i class="fa fa-plus"></i> Nuevo</a>
    </div>
</div>

<div class="content-body">
    <section id="basic-form-layouts">
        <div class="row">



            <form asp-action="Create" class="vertical-tab-steps wizard-circle">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>



                <h6>Cliente</h6>
                <fieldset>
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body collapse in" >
                                <div class="card-block">
                                    <h4 class="form-section"><i class="icon-eye6"></i>Clientes</h4>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row ">
                                                <label asp-for="ClientId" class="col-md-3 control-label"></label>
                                                <div class="col-md-9">
                                                    <select asp-for="ClientId" class="form-control" asp-items="ViewBag.ClientId"></select>
                                                </div>
                                            </div>
                                            <div class="form-group row ">

                                                <label asp-for="Client.Name" class="col-md-3 control-label"></label>
                                                <div class="col-md-9">
                                                    <input asp-for="Client.Name" class="form-control" name="clientName" id="clientName" />
                                                    <span asp-validation-for="Client.Name" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="form-group row ">

                                                <label asp-for="Client.LastName" class="col-md-3 control-label"></label>
                                                <div class="col-md-9">
                                                    <input asp-for="Client.LastName" class="form-control" name="clientLastName" id="                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  " />
                                                    <span asp-validation-for="Client.LastName" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="form-group row ">

                                                <label class="col-md-3 control-label">Teléfono</label>
                                                <div class="col-md-9">
                                                    <input class="form-control" name="clientPhone" id="clientPhone" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="emailAddress" class="col-md-3 control-label">Correo</label>
                                                <div class="col-md-9">
                                                    <input type="email" name="clientEmail" class="form-control" id="clientEmail" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group row ">

                                                <label @*asp-for="Client.Address.AddressLine1"*@ class="col-md-3 control-label">Calle</label>
                                                <div class="col-md-9">
                                                    <input @*asp-for="Client.Address.AddressLine1"*@ class="form-control" name="clientCalle" id="clientCalle" />
                                                    <span @*asp-validation-for="Client.Address.AddressLine1"*@ class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="form-group row ">

                                                <label @*asp-for="Client.Address.State"*@ class="col-md-3 control-label">Estado</label>
                                                <div class="col-md-9">
                                                    <input @*asp-for="Client.Address.State"*@ class="form-control" name="clientState" id="clientState" />
                                                </div>
                                            </div>
                                            <div class="form-group row ">

                                                <label @*asp-for="Client.Address.City"*@ class="col-md-3 control-label">Ciudad</label>
                                                <div class="col-md-9">
                                                    <input @*asp-for="Client.Address.City"*@ class="form-control" name="clientCity" id="clientCity" />
                                                </div>
                                            </div>
                                            <div class="form-group row ">

                                                <label @*asp-for="Client.Address.Zip"*@ class="col-md-3 control-label">Código Zip</label>
                                                <div class="col-md-9">
                                                    <input @*asp-for="Client.Address.Zip"*@ class="form-control" name="clientZip" id="clientZip" />

                                                </div>
                                            </div>







                                        </div>
                                        <input type="submit" value="Create" class="btn btn-primary btn-min-width mr-1 mb-1" id="btnAddClient" />
                                    </div>






                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <h6>Contacto</h6>

                <fieldset>
                    <div class="col-md-12">
                        <div class="card">
                            
                            <div class="card-body collapse in">
                                <div class="card-block">
                                    <h4 class="form-section"><i class="icon-eye6"></i>Contactos</h4>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row ">
                                                <label asp-for="ContactId" class="col-md-3 control-label"></label>
                                                <div class="col-md-9">
                                                    <select asp-for="ContactId" class="form-control" asp-items="ViewBag.ContactId"></select>
                                                </div>
                                            </div>
                                            <div class="form-group row ">

                                                <label asp-for="Contact.Name" class="col-md-3 control-label"></label>
                                                <div class="col-md-9">
                                                    <input asp-for="Contact.Name" class="form-control" name="clientName" id="clientName" />
                                                    <span asp-validation-for="Contact.Name" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="form-group row ">

                                                <label asp-for="Contact.LastName" class="col-md-3 control-label"></label>
                                                <div class="col-md-9">
                                                    <input asp-for="Contact.LastName" class="form-control" name="clientLastName" id="                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  " />
                                                    <span asp-validation-for="Contact.LastName" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="form-group row ">

                                                <label class="col-md-3 control-label">Teléfon</label>
                                                <div class="col-md-9">
                                                    <input class="form-control" name="clientPhone" id="clientPhone" />
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="emailAddress" class="col-md-3 control-label">Correo</label>
                                                <div class="col-md-9">
                                                    <input type="email" name="clientEmail" class="form-control" id="clientEmail" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group row ">

                                                <label @*asp-for="Client.Address.AddressLine1"*@ class="col-md-3 control-label">Calle</label>
                                                <div class="col-md-9">
                                                    <input @*asp-for="Client.Address.AddressLine1"*@ class="form-control" name="clientCalle" id="clientCalle" />
                                                    <span @*asp-validation-for="Client.Address.AddressLine1"*@ class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="form-group row ">

                                                <label @*asp-for="Client.Address.State"*@ class="col-md-3 control-label">Estado</label>
                                                <div class="col-md-9">
                                                    <input @*asp-for="Client.Address.State"*@ class="form-control" name="clientState" id="clientState" />
                                                </div>
                                            </div>
                                            <div class="form-group row ">

                                                <label @*asp-for="Client.Address.City"*@ class="col-md-3 control-label">Ciudad</label>
                                                <div class="col-md-9">
                                                    <input @*asp-for="Client.Address.City"*@ class="form-control" name="clientCity" id="clientCity" />
                                                </div>
                                            </div>
                                            <div class="form-group row ">

                                                <label @*asp-for="Client.Address.Zip"*@ class="col-md-3 control-label">Código Zip</label>
                                                <div class="col-md-9">
                                                    <input @*asp-for="Client.Address.Zip"*@ class="form-control" name="clientZip" id="clientZip" />

                                                </div>
                                            </div>

                                        </div>
                                        <input type="submit" value="Create" class="btn btn-primary btn-min-width mr-1 mb-1" id="btnAddClient" />
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>

                </fieldset>


                <h6>Productos</h6>

                <fieldset>

                    <div class="col-md-8">
                        <div class="card" >
                            <div class="card-body collapse in" >
                                <div class="card-block">
                                    <h4 class="form-section"><i class="icon-eye6"></i>Productos</h4>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group row ">
                                                @*<label asp-for="Type" class="col-md-3 control-label"></label>
                                                    <div class="col-md-9">
                                                        <select asp-for="Type" class="form-control" placeholder="Tipo">
                                                            <option value="Mixto">Mixto</option>
                                                            <option value="Paquete">Paquete</option>
                                                            <option value="Alimentos">Alimentos</option>
                                                            <option value="Medicina">Comida</option>
                                                        </select>
                                                        <span asp-validation-for="Type" class="text-danger"></span>
                                                    </div>*@
                                                <label>Tipo de Paquete</label>
                                                <div class="c-inputs-stacked">

                                                    <label class="custom-control custom-radio col-md-2 control-label">

                                                        <input id="radioStacked1" name="radio-stacked1" type="radio" class="custom-control-input">
                                                        <span class="custom-control-indicator"></span>
                                                        <span class="custom-control-description">Mixto</span>
                                                    </label>


                                                    <label class="custom-control custom-radio col-md-2 control-label">
                                                        <input id="radioStacked2" name="radio-stacked1" type="radio" checked class="custom-control-input">
                                                        <span class="custom-control-indicator"></span>
                                                        <span class="custom-control-description">Paquete</span>
                                                    </label>

                                                    <label class="custom-control custom-radio col-md-2 control-label">
                                                        <input id="radioStacked2" name="radio-stacked1" type="radio" checked class="custom-control-input">
                                                        <span class="custom-control-indicator"></span>
                                                        <span class="custom-control-description">Alimentos</span>
                                                    </label>
                                                    <label class="custom-control custom-radio col-md-2 control-label">
                                                        <input id="radioStacked2" name="radio-stacked1" type="radio" checked class="custom-control-input">
                                                        <span class="custom-control-indicator"></span>
                                                        <span class="custom-control-description">Medicinas</span>
                                                    </label>
                                                    <label class="custom-control custom-radio col-md-2 control-label">
                                                        <input id="radioStacked2" name="radio-stacked1" type="radio" checked class="custom-control-input">
                                                        <span class="custom-control-indicator"></span>
                                                        <span class="custom-control-description">Remesas</span>
                                                    </label>

                                                </div>Tipo de



                                            </div>
                                            <div class="form-group row">

                                                <div class="col-md-9">

                                                    <select @*asp-for="ProductId"*@ class="col-md-6 form-control" asp-items="ViewBag.ProductId" placeholder="Tipo" id="txtName"></select>
                                                </div>
                                                <div class="col-md-3">

                                                    <input type="button" id="btnAdd" value="Adicionar" class="btn btn-primary btn-min-width mr-1 mb-1" />
                                                </div>
                                            </div>

                                            <table class="table table-striped table-bordered " id="tblProductos">
                                                @*sourced-data*@
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            Code
                                                        </th>
                                                        <th>
                                                            Descripcion
                                                        </th>
                                                        <th>
                                                            Cantidad
                                                        </th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>



                                </div>
                            </div>
                        </div>


                        <div class="card" >
                            <div class="card-body collapse in" >
                                <div class="card-block">
                                    <h4 class="form-section"><i class="icon-eye6"></i> Valores Aduanales</h4>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group row">

                                                <div class="col-md-9">

                                                    <select @*asp-for="ProductId"*@ class="col-md-6 form-control custom-select" asp-items="ViewBag.ValorAduanalId" placeholder="Tipo" id="txtNameVA"></select>
                                                </div>

                                                <div class="col-md-3">

                                                    <input type="button" id="btnAddValue" value="Adicionar" class="btn btn-primary btn-min-width mr-1 mb-1" />
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <table class="table table-striped table-bordered " id="tblVA">
                                                    @*sourced-data*@
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                                Nombre
                                                            </th>
                                                            <th>
                                                                Artículos
                                                            </th>

                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                            <h6 name="totalVA" style="text-align:right;"><i class="icon-eye6"></i> Total de Valores Aduanales: 20</h6>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-4">
                        <div class="card" >

                            <div class="card-body collapse in" >
                                <div class="card-block">
                                    <h4 class="form-section"><i class="icon-eye6"></i> Costos</h4>
                                    <div class="row">
                                        <div class="col-md-12">

                                            <div class="form-group row ">
                                                <label asp-for="TipoPagoId" class="col-md-3 control-label"></label>
                                                <div class="col-md-9">
                                                    <select asp-for="TipoPagoId" class="form-control" asp-items="ViewBag.TipoPagoId"></select>
                                                </div>
                                            </div>
                                            <div class="form-group row ">
                                                <label asp-for="CantLb" class="col-md-3 control-label"></label>
                                                <div class="col-md-9">
                                                    <input asp-for="CantLb" class="form-control" type="number" />
                                                    <span asp-validation-for="CantLb" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="form-group row ">
                                                <label asp-for="PriceLb" class="col-md-3 control-label"></label>
                                                <div class="col-md-9">
                                                    <input asp-for="PriceLb" class="form-control" type="number" />
                                                    <span asp-validation-for="PriceLb" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <h5 name="costoLb" style="text-align:right;"><i class="icon-eye6"></i> Costo por lb: 20</h5>

                                            <div class="form-group row ">
                                                <label asp-for="OtrosCostos" class="col-md-3 control-label"></label>
                                                <div class="col-md-9">
                                                    <input asp-for="OtrosCostos" class="form-control" type="number" />
                                                    <span asp-validation-for="OtrosCostos" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <hr>
                                            <h5 name="total" style="text-align:right;"><i class="icon-eye6"></i> Precio Total: 60</h5>
                                            <div class="form-group row ">
                                                <label asp-for="ValorPagado" class="col-md-3 control-label"></label>
                                                <div class="col-md-9">
                                                    <input asp-for="ValorPagado" class="form-control" type="number" />
                                                    <span asp-validation-for="ValorPagado" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-actions right">
                        <button type="button" class="btn btn-warning mr-1">
                            <i class="ft-x"></i> Cancelar
                        </button>
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-check-square-o"></i> Crear
                        </button>
                    </div>
                </fieldset>
            </form>




        </div>
    </section>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {

            $('#btnAdd').on('click', function () {
                var txtName = $("#txtValue");

                //alert(txtName.val());
                var productos = document.getElementById('txtName');
                var opt = productos.options[productos.selectedIndex];

                ////Get the reference of the Table's TBODY element.
                var tBody = $("#tblProductos > TBODY")[0];

                ////Add Row.
                var row = tBody.insertRow(-1);

                ////Add Name cell.
                var cell = $(row.insertCell(-1));
                cell.html(opt.value);

                ////Add Country cell.
                cell = $(row.insertCell(-1));
                cell.html(opt.text);

                ////Add Button cell.
                cell = $(row.insertCell(-1));
                var celCant = $("<input />");
                celCant.attr("type", "text");
                celCant.attr("class", "form-control");
                ///  btnRemove.attr("onclick", "Remove(this);");
                // btnRemove.val("Remove");
                cell.append(celCant);

                ////Add Button cell.
                cell = $(row.insertCell(-1));
                var btnRemove = $("<input  />");
                btnRemove.attr("type", "button");
                btnRemove.attr("class", "btn btn-default");
                btnRemove.attr("onclick", "Remove(this);");
                btnRemove.val("Remove");
                cell.append(btnRemove);

                ////Clear the TextBoxes.
                //txtName.val("");
                //txtCountry.val("");

                $.ajax({
                    type: "POST",
                    url: "/Orders/AddProductos",
                    data: JSON.stringify(txtName.val()),
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function (r) {
                        alert(r + " record(s) inserted.");
                    }

                });

            });

            function Remove(button) {
                alert("remove2");
                //Determine the reference of the Row using the Button.
                var row = $(button).closest("TR");
                var name = $("TD", row).eq(0).html();
                if (confirm("Do you want to delete: " + name)) {
                    //Get the reference of the Table.
                    var table = $("#tblCustomers")[0];

                    //Delete the Table row using it's Index.
                    table.deleteRow(row[0].rowIndex);
                    // Send the JSON array to Controller using AJAX.
                    //$.ajax({
                    //    type: "POST",
                    //    url: "/Orders/RemoveProduct",
                    //    data: JSON.stringify(customers),
                    //    dataType: 'json',
                    //    contentType: 'application/json',
                    //    success: function (r) {
                    //        alert(r + " record(s) inserted.");
                    //    }
                    //});
                }
            };

            $('#btnAddValue').on('click', function () {
                var txtName = $("#txtNameVA");

                //alert(txtName.val());
                var productos = document.getElementById('txtNameVA');
                var opt = productos.options[productos.selectedIndex];

                ////Get the reference of the Table's TBODY element.
                var tBody = $("#tblVA > TBODY")[0];

                ////Add Row.
                var row = tBody.insertRow(-1);

                ////Add Name cell.
                var cell = $(row.insertCell(-1));
                cell.html(opt.value);

                ////Add Country cell.
                cell = $(row.insertCell(-1));
                cell.html(opt.text);

                ////Add Button cell.
                cell = $(row.insertCell(-1));
                var btnRemove = $("<input  />");
                btnRemove.attr("type", "button");
                btnRemove.attr("class", "btn btn-default");
                btnRemove.val("Remove");
                cell.append(btnRemove);

                ////Clear the TextBoxes.
                //txtName.val("");
                //txtCountry.val("");

                $.ajax({
                    type: "POST",
                    url: "/Orders/AddValue",
                    data: JSON.stringify(txtNameVA.val()),
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function (r) {
                        alert(r + " record(s) inserted.");
                    }

                });

            });

            //        $("#autocomplete").autocomplete({
            //    source: ["c++", "java", "php", "coldfusion", "javascript", "asp", "ruby"]
            //});
            //$("#autocomplete").on("autocompleteresponse",
            //    function (event, ui) {

            //        document.getElementById('autocomplete').value = (ui.content[0].value);
            //        $('.test').on('focus', function (event) {
            //            var inp = this;
            //            var t = self.setTimeout(function () { inp.select(); }, 1);
            //        });

            //    });


            //$("#tbListOfCountries").on('focusout', function () {

            //    alert(test);
            ////$.ajax({
            ////    url: "/Orders/ShowProducts",
            ////    type: "GET",
            ////    dataType: "json",
            ////    data: { fetch: $("#tbListOfCountries").val() },
            ////    success: function (query) {
            ////        $("#tbListOfCountries").val(query[0]);
            ////    },
            ////});
            //     });
            
    //$("#clientName").on('focusout', function () {

    //    //$.ajax({
    //    //    url: "/Orders/ShowProducts",
    //    //    type: "GET",
    //    //    dataType: "json",
    //    //    data: { fetch: $("#tbListOfCountries").val() },
    //    //    success: function (query) {
    //    //        $("#tbListOfCountries").val(query[0]);
    //    //    },
    //    alert("focus");
    //    });


              $("#clientName").autocomplete({

            source: function (request, response) {

                $.ajax({

                    url: "/Orders/GetClient",

                    type: "POST",

                    dataType: "json",

                    data: { keyword: request.term },

                    success: function (data) {

                        response($.map(data, function (item) {

                            return { label: item.Name, value: item.Name };

                        }))

                    },

                    error: function () {

                        alert('something went wrong !');

                    }

                })

            },

            messages: {

                noResults: "", results: ""

            }

        });

        });
    </script>



}
