@model AgenciappHome.Models.Order

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="content-header row">
    <div class="content-header-left col-md-6 col-xs-12 mb-2">
        <h3 class="content-header-title mb-0">Nuevo Envío</h3>
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-xs-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item ">
                        <a href="index.html">Envío</a>
                    </li>

                </ol>
            </div>
        </div>
    </div>
    <div class="content-header-right col-md-6 col-xs-12">
        <a class="btn btn-primary btn-min-width mr-1 mb-1 float-md-right" asp-action="Create"> <i class="fa fa-plus"></i> Producto</a>

    </div>
</div>

<div class="content-body">
    <section id="basic-form-layouts">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Cliente</h4>
                        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                        <div class="heading-elements">
                            <button type="submit" class="btn btn-primary btn-min-width mr-1 mb-1" id="nuevoCliente">
                                <i class="fa fa-plus-circle"></i>  Nuevo
                            </button>
                        </div>
                    </div>

                    <div class="card-body collapse in">
                        <div class="card-block">

                            <div class="col-md-12">
                                @*type="hidden"*@
                                <div class="form-group row ">
                                    <select asp-for="Client.Name" class="form-control select2-placeholder-clientName" style="display:none" id="single-placeholder" asp-items="ViewBag.ClientName" name="selectClientName"></select>
                                    <input asp-for="Client.Name" type="hidden" class="form-control" id="inputClientName" placeholder="Nombre" name="inputClientName"></input>
                                    <span asp-validation-for="Client.Name" class="text-danger"></span>
                                </div>
                                <div class="form-group row ">
                                    <select asp-for="Client.LastName" class="form-control select2-placeholder-clientLastName" style="display:none" id="single-placeholder" asp-items="ViewBag.ClientLastName" name="selectClientLastName"></select>
                                    <input asp-for="Client.LastName" type="hidden" class="form-control" id="inputClientLastName" placeholder="Apellido" name="inputClientLastName"></input>
                                    <span asp-validation-for="Client.LastName" class="text-danger"></span>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row ">

                                            <select @*asp-for="Client.Phone"*@ class="form-control select2-placeholder-clientMobil" style="display:none" id="single-placeholder" asp-items="ViewBag.Movil" name="selectClientMobil"></select>
                                            <input @*asp-for="Client.LastName"*@ class="form-control" type="hidden" id="inputClientMobil" placeholder="Móvil" name="inputClientMovil"></input>

                                            <span @*asp-validation-for="Client.Phone"*@ class="text-danger"></span>

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row ">
                                            <select asp-for="Client.Email" class="form-control select2-placeholder-clientEmail" style="display:none" id="single-placeholder" asp-items="ViewBag.ClientEmail" name="clientName" id="clientName"></select>
                                            <input asp-for="Client.Email" class="form-control" type="hidden" id="inputClientEmail" placeholder="Correo" name="inputClientEmail"></input>
                                            <span asp-validation-for="Client.Email" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row ">
                                    <textarea rows="2" placeholder="Dirección" name="inputclientAddress" id="inputclientAddress" class="form-control"></textarea>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row ">
                                            <select @*asp-for="Type"*@ class="form-control hide-search-clientState" id="hide_search" name="clientState">
                                                <option value="">Estado</option>
                                                <option value="Florida">Florida</option>
                                            </select>
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row ">
                                            <select @*asp-for="Type"*@ class="form-control hide-search-clientCity" id="hide_search" name="clientCity">
                                                <option value="">Ciudad</option>
                                                <option value="Miami">Miami</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <input class="form-control" name="inputClientZip" disabled="disabled" id="inputClientZip" placeholder="Código Zip" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions center">
                                <button type="button" class="btn btn-warning btn-min-width mr-1 mb-1">
                                    <i class="ft-x"></i> Cancelar
                                </button>
                                <button type="button" class="btn btn-primary btn-min-width mr-1 mb-1" id="adicionarCliente">
                                    <i class="fa fa-check-square-o"></i> Guardar
                                </button>
                                <button type="button" class="btn btn-primary btn-min-width mr-1 mb-1" id="editarCliente">
                                    <i class="fa fa-check-square-o"></i> Editar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Contacto</h4>
                        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                        <div class="heading-elements">
                            @*<ul class="list-inline mb-0">
                                <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                <li><a data-action="close"><i class="ft-x"></i></a></li>
                            </ul>*@
                            <a class="btn btn-primary btn-min-width mr-1 mb-1 float-md-right" asp-action="Create">Nuevo</a>

                        </div>
                    </div>

                    <div class="card-body collapse in">
                        <div class="card-block">
                            <form asp-action="Create">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="col-md-12">

                                    <div class="form-group row ">
                                        <select asp-for="Contact.Name" class="form-control select2-placeholder-contactName" id="single-placeholder" asp-items="ViewBag.ContactName" name="contactName"></select>
                                        <span asp-validation-for="Contact.Name" class="text-danger"></span>
                                    </div>
                                    <div class="form-group row ">
                                        <select asp-for="Contact.LastName" class="form-control select2-placeholder-contactLastName" id="single-placeholder" asp-items="ViewBag.ContactName" name="contactLastName"></select>
                                        <span asp-validation-for="Contact.LastName" class="text-danger"></span>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row ">
                                                <select @*asp-for="Client.Phone"*@ class="form-control select2-placeholder-contactPhoneHome" id="single-placeholder" asp-items="ViewBag.PhoneHome" name="contactPhoneHome"></select>
                                                <span @*asp-validation-for="Client.Phone"*@ class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row ">
                                                <select @*asp-for="Client.Phone"*@ class="form-control select2-placeholder-contactPhoneOffice" id="single-placeholder" asp-items="ViewBag.PhoneOffice" name="contactPhoneOffice"></select>
                                                <span @*asp-validation-for="Client.Phone"*@ class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row ">
                                        <input @*asp-for="Client.Address.AddressLine1"*@ disabled="disabled" class="form-control" name="contactCalle" id="contactCalle" placeholder="Dirección" />
                                        <span @*asp-validation-for="Client.Address.AddressLine1"*@ class="text-danger"></span>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row ">
                                                <select @*asp-for="Type"*@ class="form-control  hide-search-contactState" id="hide_search" name="contactState">
                                                    <option value="">Estado</option>
                                                    <option value="Miami">Florida</option>
                                                </select>
                                            </div>

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row ">
                                                <select @*asp-for="Type"*@ class="form-control hide-search-contactCity" id="hide_search" name="contactCity">
                                                    <option value="">Ciudad</option>
                                                    <option value="Miami">Miami</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <input class="form-control" name="clientZip" id="contactZip" placeholder="Código Zip" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions center">
                                    <button type="button" class="btn btn-warning btn-min-width mr-1 mb-1">
                                        <i class="ft-x"></i> Cancelar
                                    </button>
                                    <button type="submit" class="btn btn-primary btn-min-width mr-1 mb-1">
                                        <i class="fa fa-check-square-o"></i> Guardar
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>


            </div>
            <form asp-action="Create" class="vertical-tab-steps wizard-circle">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>



                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body collapse in">
                            <div class="card-block">
                                <h4 class="form-section"><i class="icon-eye6"></i> Datos de la Orden</h4>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row ">
                                            <label asp-for="TipoPago" class="col-md-3 control-label"></label>
                                            <div class="col-md-9">

                                                <select asp-for="TipoPago" class="form-control hide-search-pago" id="hide_search" asp-items="ViewBag.TipoPagoId"></select>
                                            </div>
                                        </div>
                                        <div class="form-group row ">
                                            <label asp-for="CantLb" class="col-md-3 control-label"></label>
                                            <div class="col-md-9">
                                                <input asp-for="CantLb" class="form-control" type="number" />
                                                <span asp-validation-for="CantLb" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="form-group row ">
                                            <label asp-for="PriceLb" class="col-md-3 control-label"></label>
                                            <div class="col-md-9">
                                                <input asp-for="PriceLb" class="form-control" type="number" />
                                                <span asp-validation-for="PriceLb" class="text-danger"></span>
                                                <h5 name="costoLb" style="text-align:right;"><i class="icon-eye6"></i> Costo por lb: 20</h5>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label asp-for="ValorAduanal" class="col-md-3 control-label"></label>
                                            <div class="col-md-9">
                                                <select asp-for="ValorAduanal" class="col-md-6 select2-placeholder-valor form-control" multiple="multiple" asp-items="ViewBag.ValorAduanalId" placeholder="Tipo" id="txtNameVA"></select>
                                            </div>
                                            <h5 name="VA" style="text-align:right;"><i class="icon-eye6"></i> Valor Aduanal: 20</h5>

                                        </div>
                                        <div class="form-group row ">
                                            <label asp-for="OtrosCostos" class="col-md-3 control-label"></label>
                                            <div class="col-md-9">
                                                <input asp-for="OtrosCostos" class="form-control" type="number" />
                                                <span asp-validation-for="OtrosCostos" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="form-group row ">
                                            <label asp-for="ValorPagado" class="col-md-3 control-label"></label>
                                            <div class="col-md-9">
                                                <input asp-for="ValorPagado" class="form-control" type="number" />
                                                <span asp-validation-for="ValorPagado" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <hr>
                                <h5 name="total" style="text-align:right;"><i class="icon-eye6"></i> Precio Total: 60</h5>
                                <h5 name="total" style="text-align:right;"><i class="icon-eye6"></i> Balance: 10</h5>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body collapse in">
                            <div class="card-block">
                                <h4 class="form-section"><i class="icon-eye6"></i>Productos</h4>
                                <div class="row">
                                    <div class="col-md-12">

                                        <div class="form-group row ">
                                            @*<label asp-for="Type" class="col-md-3 control-label"></label>*@
                                            @*<div class="col-md-9">
                                        <select asp-for="Type" class="form-control" placeholder="Tipo">
                                            <option value="Mixto">Mixto</option>
                                            <option value="Paquete">Paquete</option>
                                            <option value="Alimentos">Alimentos</option>
                                            <option value="Medicina">Comida</option>
                                        </select>
                                        <span asp-validation-for="Type" class="text-danger"></span>
                                    </div>*@

                                            <div class="c-inputs-stacked">

                                                <label class="custom-control custom-radio col-md-2 control-label">

                                                    <input id="radioStacked1" name="radio-stacked1" type="radio" checked class="custom-control-input">
                                                    <span class="custom-control-indicator"></span>
                                                    <span class="custom-control-description">Mixto</span>
                                                </label>


                                                <label class="custom-control custom-radio col-md-2 control-label">
                                                    <input id="radioStacked2" name="radio-stacked1" type="radio" class="custom-control-input">
                                                    <span class="custom-control-indicator"></span>
                                                    <span class="custom-control-description">Paquete</span>
                                                </label>

                                                <label class="custom-control custom-radio col-md-2 control-label">
                                                    <input id="radioStacked2" name="radio-stacked1" type="radio" class="custom-control-input">
                                                    <span class="custom-control-indicator"></span>
                                                    <span class="custom-control-description">Alimentos</span>
                                                </label>
                                                <label class="custom-control custom-radio col-md-2 control-label">
                                                    <input id="radioStacked2" name="radio-stacked1" type="radio" class="custom-control-input">
                                                    <span class="custom-control-indicator"></span>
                                                    <span class="custom-control-description">Medicinas</span>
                                                </label>
                                                <label class="custom-control custom-radio col-md-2 control-label">
                                                    <input id="radioStacked2" name="radio-stacked1" type="radio" class="custom-control-input">
                                                    <span class="custom-control-indicator"></span>
                                                    <span class="custom-control-description">Remesas</span>
                                                </label>

                                            </div>



                                        </div>
                                        <div class="form-group row">

                                            <div class="col-md-9">

                                                <select @*asp-for="ProductId"*@ class="col-md-6 form-control select2-placeholder-product" id="single-placeholder" asp-items="ViewBag.ProductId"></select>
                                            </div>
                                            <div class="col-md-3">

                                                <input type="button" id="btnAdd" value="Adicionar" class="btn btn-primary btn-min-width mr-1 mb-1" />
                                            </div>
                                        </div>

                                        <table class="table table-striped table-bordered " id="tblProductos">
                                            @*sourced-data*@
                                            <thead>
                                                <tr>
                                                    <th>
                                                        Cantidad
                                                    </th>
                                                    <th>
                                                        Código
                                                    </th>
                                                    <th>
                                                        Descripcion
                                                    </th>
                                                    <th>
                                                        Notas
                                                    </th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>


                                    </div>



                                </div>

                                @*<div class="form-group row ">

                            <label asp-for="Package.PackageItem" class="col-md-3 control-label"></label>
                            <div class="col-md-9">
                                <select asp-for="Package.PackageItem" class="form-control" name="clientLastName" />                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             " />
                                <span asp-validation-for="Package.PackageItem" class="text-danger"></span>
                            </div>
                        </div>*@


                            </div>
                        </div>
                    </div>

                </div>

                <div class="form-actions center">
                    <button type="button" class="btn btn-warning mr-1">
                        <i class="ft-x"></i> Cancelar
                    </button>
                    <button type="submit" class="btn btn-primary" id="crearOrden">
                        <i class="fa fa-check-square-o"></i> Crear
                    </button>
                </div>
            </form>
        </div>
  




</div>
    </section>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
        // Single Select Placeholder
    // Single Select Placeholder
              var nuevo = false;
  
     // Hiding the search box
    $(".hide-search-pago").select2({
        minimumResultsForSearch: Infinity,
        placeholder: "Tipo de Pago",
       allowClear: true
    });

    // Single Select Placeholder
    $(".select2-placeholder-valor").select2({
      placeholder: "Seleccione Valor Aduanal",
      allowClear: true
    });
               // DOM Events
    var $eventSelectName = $(".select2-placeholder-clientName");
    $eventSelectName.select2({
         placeholder: "Nombre",
        allowClear: true,
        val: null
    });
            $eventSelectName.on("select2:select", function (e) {
                //$.ajax({
                //    type: "POST",
                //    url: "/Orders/GetClientForName",
                //    data: JSON.stringify($eventSelectName.val()),
                //    contentType: "application/json; charset=utf-8",
                //    dataType: 'json',
                //    success: function (response) {
                //        //alert(response.Name + " record(s) inserted.");
                //        //$("#clientName").show(),
                //        $("#clientCalle").val( response.Name);
                //        //val(response.Name)
                //    }
                //});
            
                // $(".clientCalle").attr('value', "pepe");
                //$("#clientCalle").val( "pepe");
                 $.ajax({
            type: "POST",
            url: "/Orders/GetClientForName",
            data: JSON.stringify($eventSelectName.val()),
            dataType: 'json',
            contentType: 'application/json',
                     success: function (data) {
 
                         $('.select2-placeholder-clientLastName').val($eventSelectName.val()).trigger('change');
                         $('.select2-placeholder-clientEmail').val($eventSelectName.val()).trigger('change');

                         $('.select2-placeholder-clientMobil').val(data.idPhone).trigger('change');

                         $('#clientCalle').val(data.name);
                         $('#clientZip').val(data.zip);
                         $('.hide-search-city').val(data.city).trigger('change');
                         $('.hide-search-state').val(data.state).trigger('change');
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
      });
            });

       $(".select2-placeholder-clientLastName").select2({
         placeholder: "Apellido",
        allowClear: true,
        text:" "
       });
       $(".select2-placeholder-clientMobil").select2({
         placeholder: "Móvil",
        allowClear: true,
        text:" "
    });

       $(".select2-placeholder-clientEmail").select2({
         placeholder: "Correo",
        allowClear: true,
        text:" "
       });

      $(".hide-search-clientState").select2({
        minimumResultsForSearch: Infinity,
        placeholder: "Estado",
       allowClear: true
      });
      $(".hide-search-clientCity").select2({
        minimumResultsForSearch: Infinity,
        placeholder: "Ciudad",
       allowClear: true
      });

      $(".select2-placeholder-contactName").select2({
         placeholder: "Nombre",
        allowClear: true,
        text:" "
       });

               $(".select2-placeholder-contactLastName").select2({
         placeholder: "Apellido",
        allowClear: true,
        text:" "
       });
       $(".select2-placeholder-contactPhoneHome").select2({
         placeholder: "Tel. Casa",
        allowClear: true,
        text:" "
    });

       $(".select2-placeholder-contactPhoneOffice").select2({
         placeholder: "Tel. Officina",
        allowClear: true,
        text:" "
       });

      $(".hide-search-contactState").select2({
        minimumResultsForSearch: Infinity,
        placeholder: "Estado",
       allowClear: true
      });
      $(".hide-search-contactCity").select2({
        minimumResultsForSearch: Infinity,
        placeholder: "Ciudad",
       allowClear: true
      });




             // DOM Events
    var $eventSelect = $(".select2-placeholder-product");
    $eventSelect.select2({
         placeholder: "Tipo Color Talla/Marca",
           allowClear: true,
    });
            //Aqui se activan los campos desactivados, se esconden los campos de busqueda y se visualizan los campos de texto
            $('#nuevoCliente').on('click', function () {
                //$('#').attr('disabled', 'disabled');

                nuevo = false;
               // $('#inputClientName').removeAttr('type');
               // //$('#selectClientName').addClass('style', 'display:none');
               //  $(".select2-placeholder-clientName").select2("destroy");

               //$('#inputClientLastName').removeAttr('type');
               //// $('#selectClientLastName').addClass('style', 'display:none');
               //  $(".select2-placeholder-clientLastName").select2("destroy");

               //  $('#inputClientMobil').removeAttr('type');
               //// $('#selectClientMovil').addClass('style', 'display:none');
               //  $(".select2-placeholder-clientMobil").select2("destroy");

               //  $('#inputClientEmail').removeAttr('type');
               // //$('#selectClientEmail').addClass('style', 'display:none');
               //  $(".select2-placeholder-clientEmail").select2("destroy");

               // $('.hide-search-clientState').select2.removeAttr('disabled');
               // // $('.hide-search-clientCity').select2.removeAttr('disabled');

               //// $('#inputClientAddress').prop('disabled',false);
               //// $('#inputClientZip').removeAttr('disabled');

         
            });
            
          
            $eventSelect.on("select2:select", function (e) {

                var productos = document.getElementsByName('select2-placeholder-product');
                var opt = productos.options[productos.selectedIndex];

                ////Get the reference of the Table's TBODY element.
                var tBody = $("#tblProductos > TBODY")[0];

                ////Add Row.
                var row = tBody.insertRow(-1);

                ////Add Button cell.
                var cell = $(row.insertCell(-1));
                var celCant = $("<input />");
                celCant.attr("type", "text");
                celCant.attr("class", "form-control");
                ///  btnRemove.attr("onclick", "Remove(this);");
                // btnRemove.val("Remove");
                cell.append(celCant);

                ////Add Name cell.
                cell = $(row.insertCell(-1));
                cell.html(opt.Value);

                ////Add Country cell.
                cell = $(row.insertCell(-1));
                cell.html(opt.Text);

                
                ////Add Button cell.
                cell = $(row.insertCell(-1));
                var celNotas = $("<input />");
                celNotas.attr("type", "text");
                celNotas.attr("class", "form-control");
                ///  btnRemove.attr("onclick", "Remove(this);");
                // btnRemove.val("Remove");
                cell.append(celNotas);

                ////Add Button cell.
                cell = $(row.insertCell(-1));
                var btnRemove = $("<input  />");
                btnRemove.attr("type", "button");
                btnRemove.attr("class", "btn btn-default");
                btnRemove.attr("onclick", "Remove(this);");
                btnRemove.val("Remove");
                cell.append(btnRemove);

            });
            $('#salvar').on('click', function () {
                 //Loop through the Table rows and build a JSON array.
                alert("pepr");
            var customers = new Array();
            $("#tblCustomers TBODY TR").each(function () {
                var row = $(this);
                var customer = {};
                customer.Qty = row.find("TD").eq(0).html();
                customer.Code = row.find("TD").eq(1).html();
                customer.Descripción = row.find("TD").eq(2).html();
                customer.Notas = row.find("TD").eq(3).html();
                customers.push(customer);
            });
 
            //Send the JSON array to Controller using AJAX.
            $.ajax({
                type: "POST",
                url: "/Orders/Create",
                data: JSON.stringify(customers),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (r) {
                    alert(r + " record(s) inserted.");
                }
            });
            });

            $('#btnAdd').on('click', function () {
            
                //Get the reference of the Table's TBODY element.
                var tBody = $("#tblProductos > TBODY")[0];

                ////Add Row.
                var row = tBody.insertRow(-1);

                ////Add Button cell.
                var cell = $(row.insertCell(-1));
                var celCant = $("<input />");
                celCant.attr("type", "text");
                celCant.attr("class", "form-control");
                ///  btnRemove.attr("onclick", "Remove(this);");
                // btnRemove.val("Remove");
                cell.append(celCant);

                ////Add Code
                //cell = $(row.insertCell(-1));
                //cell.html(opt.value);
                  ////Add Button cell.
                var cell = $(row.insertCell(-1));
                var celCode = $("<input />");
                celCode.attr("type", "text");
                celCode.attr("class", "form-control");
                ///  btnRemove.attr("onclick", "Remove(this);");
                // btnRemove.val("Remove");
                cell.append(celCode);

                ////Add Tipo
                cell = $(row.insertCell(-1));
                var celTipo = $("<input />");
                celTipo.attr("type", "text");
                celTipo.attr("class", "form-control");
                ///  btnRemove.attr("onclick", "Remove(this);");
                // btnRemove.val("Remove");
                cell.append(celTipo);

                ////Add Color
                cell = $(row.insertCell(-1));
                var celColor = $("<input />");
                celColor.attr("type", "text");
                celColor.attr("class", "form-control");
                ///  btnRemove.attr("onclick", "Remove(this);");
                // btnRemove.val("Remove");
                cell.append(celColor);

                ////Add Add Talla.
                cell = $(row.insertCell(-1));
                var celTalla = $("<input />");
                celTalla.attr("type", "text");
                celTalla.attr("class", "form-control");
                ///  btnRemove.attr("onclick", "Remove(this);");
                // btnRemove.val("Remove");
                cell.append(celTalla);

                ////Add Country cell.
                //cell = $(row.insertCell(-1));
                //cell.html(opt.text);
                ////Add Add Talla.
                cell = $(row.insertCell(-1));
                var celDes = $("<input />");
                celDes.attr("type", "text");
                celDes.attr("class", "form-control");
                ///  btnRemove.attr("onclick", "Remove(this);");
                // btnRemove.val("Remove");
                cell.append(celDes);

                ////Add Button cell.
                cell = $(row.insertCell(-1));
                var btnRemove = $("<input  />");
                btnRemove.attr("type", "button");
                btnRemove.attr("class", "btn btn-default");
                btnRemove.attr("onclick", "Remove");
                btnRemove.val("Remove");
                cell.append(btnRemove);
            });


             function Remove() {
                alert("remove2");
                //Determine the reference of the Row using the Button.
                //var row = $(button).closest("TR");
                //var name = $("TD", row).eq(0).html();
                //if (confirm("Do you want to delete: " + name)) {
                //    //Get the reference of the Table.
                //    var table = $("#tblCustomers")[0];

                //    //Delete the Table row using it's Index.
                //    table.deleteRow(row[0].rowIndex);
                //    // Send the JSON array to Controller using AJAX.
                //    //$.ajax({
                //    //    type: "POST",
                //    //    url: "/Orders/RemoveProduct",
                //    //    data: JSON.stringify(customers),
                //    //    dataType: 'json',
                //    //    contentType: 'application/json',
                //    //    success: function (r) {
                //    //        alert(r + " record(s) inserted.");
                //    //    }
                //    //});
                //}
            };
          
            //se me adiciona el cliente, se activan los campos de busqueda, se desactina los de insertar, y se esconden los de texto
            $('#adicionarCliente').on('click', function () {

                var source;
                if (nuevo) {
                     source = [
                    $("#inputClientName").val(),
                    $("#inputClientLastName").val(),
                     $("#inputClientEmail").val(),
                    $("#inputClientMobil").val(),
                    $(".inputClientAddress").val(),
                    $(".hide-search-clientCity").val(),
                    $(".hide-search-clientState").val(),
                    $("#inputClientZip").val(),
                ];
                }
                else
                     source = [
                    $("#inputClientName").val(),
                    $("#inputClientLastName").val(),
                     $("#inputClientEmail").val(),
                    $("#inputClientMobil").val(),
                    $(".inputClientAddress").val(),
                    $(".hide-search-clientCity").val(),
                    $(".hide-search-clientState").val(),
                    $("#inputClientZip").val(),
                ];
                
               $.ajax({
                    type: "POST",
                    url: "/Orders/AddClient",
                   data: JSON.stringify(source),
                    dataType: 'json',
                    contentType: 'application/json',
                   success: function (r) {
                       alert(r);
                    }

                });
            });

            //se dvisualizan los campos desactivados y se muestra el boton guardar
            $('#editarClient').on('click', function () {

                
            });

        });
    </script>



}
